<template>
    <div>
        <MenuBar />
        Hello
    </div>
</template>

<script>
import MenuBar from "../components/MenuBar"
export default {
    components: {
        MenuBar
    }
    
}
</script>

<style scoped>

</style>