<template>
    <div>
        <MenuBar />
        <v-content>
            <div>
                <v-tabs
                    v-model="tab"
                    background-color="secondary"
                    center-active
                    centered
                    dark
                >
                    <v-tab
                        v-for="item in getDays()"
                        :key="item.tab"
                        color="white"
                    >
                        {{ item.tab }}
                    </v-tab>
                </v-tabs>
                <v-data-table
                    v-model="selected"
                    :headers="headers"
                    :items="getItems()"
                    :single-select="false"
                    :page.sync="page"
                    :expanded.sync="expanded"
                    item-key="name"
                    show-select
                    class="elevation-1"
                    hide-default-footer
                    :items-per-page = "this.itemsPerPage"
                    @page-count="pageCount = $event"
                    @click:row="expandItem"
                >
                    <template v-slot:top>
                        <v-toolbar flat color="white">
                            <v-tooltip right>
                                <template v-slot:activator="{ on }">
                                    <v-toolbar-title v-on="on">Forecast data</v-toolbar-title>
                                </template>
                                <span>Click on a row to expand hourly forecast for the next 48 hours</span>
                            </v-tooltip>
                            <v-spacer></v-spacer>
                            <v-dialog v-model="dialog" max-width="600px">
                                <template v-slot:activator="{on}">
                                    <v-btn color="primary" v-on="on">Add another city</v-btn>
                                </template>
                                <v-card> 
                                    <v-card-title>
                                        <span class="headline">Add another city</span>
                                    </v-card-title>
                                    <v-card-text>
                                        <v-container fluid>
                                            <v-row>
                                                <v-col cols="12">
                                                    <v-autocomplete
                                                    v-model="selectedCities"
                                                    :items="addCitiesData()"
                                                    label="Select additional cities"
                                                    multiple
                                                    chips
                                                    clearable
                                                    hide-selected
                                                    deletable-chips
                                                    >
                                                    </v-autocomplete>
                                                </v-col>
                                            </v-row>
                                            <v-card>
                                                <v-btn height="60px" block color=primary v-on:click=addCities() >Add more cities</v-btn>
                                            </v-card>
                                            <v-alert type="warning"
                                                dismissible
                                                v-model="alert"
                                                transition="fade-transition">
                                                No cities selected!
                                            </v-alert>
                                            <v-alert type="error"
                                                dismissible
                                                v-model="error"
                                                transition="fade-transition">
                                                Something went wrong! We're sorry for the inconvenience.
                                            </v-alert>
                                        </v-container>
                                    </v-card-text>


                                </v-card>
                            </v-dialog>
                        </v-toolbar>
                    </template>
                    <template v-slot:item.delete="{ item }">
                        <v-icon medium @click="deleteItem(item)">mdi-delete</v-icon>
                    </template>
                    <template v-if="this.tab < 2" v-slot:expanded-item="{ item }">
                        <td :colspan="12">
                            
                        <v-data-table
                        :headers="headersMini"
                        :items="getItemsMini(item)"
                        class="elevation-0"
                        dense
                        no-data-text="No forecast available!"
                        >
                        </v-data-table>
                        </td>
                    </template>                
                </v-data-table>
                <v-pagination v-model=page :length=pageCount color="accent"></v-pagination>
            </div>
            <v-divider />
            <div>
                <v-tabs
                    background-color="secondary"
                    center-active
                    centered
                    dark
                >
                    <v-btn-toggle background-color="transparent" borderless>
                        <v-btn text large v-on:click="chartEnable('temp', 'Current temperature (C)')">Temperature</v-btn>
                        <v-btn text large v-on:click="chartEnable('feels_like', 'Feels-like temperature (C)')">Feels-like</v-btn>
                        <v-btn text large v-on:click="chartEnable('pressure', 'Air pressure (hPa)')">Pressure</v-btn>
                        <v-btn text large v-on:click="chartEnable('humidity', 'Humidity (%)')">Humidity</v-btn>
                        <v-btn text large v-on:click="chartEnable('clouds', 'Cloudiness (%)')">Clouds</v-btn>
                    </v-btn-toggle>
                </v-tabs>
            </div>
            <div>
                <line-chart :class="chartClass" :data="getChartData()" xtitle="Time of day (hour)" :ytitle="this.chartTitle" 
                    transition="slide-y-transition"></line-chart>
            </div>
        </v-content>
    </div>    
</template>




<script>
import MenuBar from "../components/MenuBar"
const apiKey = "9b64e9615e54ccbcb68c3d8105747c2a";
const units = "metric";
export default {
    components: {
        MenuBar
    },
    data() {
        return {
            page: 1,
            pageCount: 0,
            selected: [],
            headers: [
                { text: 'City', value: 'name'},
                { text: 'Time of measurement', value: 'time'},
                { text: 'Current temperature', value: 'tempCurrent'},
                { text: 'Feels-like temperature', value: 'tempFeelsLike'},
                { text: 'Maximum temperature', value: 'tempMax'},
                { text: 'Minimum temperature', value: 'tempMin'},
                { text: 'Clouds', value: 'clouds'},
                { text: 'Humidity', value: 'humidity'},
                { text: 'Pressure', value: 'pressure'},
                { text: 'Delete', value: 'delete', align: 'center', sortable: false}
            ],
            headersMini: [
                { text: 'Time', align: 'start', value: 'time'},
                { text: 'Temperature', value: 'tempCurrent'},
                { text: 'Feels-like temperature', value: 'tempFeelsLike'},
                { text: 'Clouds', value: 'clouds'},
                { text: 'Humidity', value: 'humidity'},
                { text: 'Pressure', value: 'pressure'}
            ],
            itemsPerPage: 5,
            tab: 0,
            chartTitle: "",
            chartType: "",
            chartClass: "hidden",
            expanded: [],
            selectedCities: [],
            alert: false,
            error: false,
            dialog: false
        }
    }, 
    methods: {
        getItems: function() {
            var items = [];
            this.$dailyData.forEach(city => {
                var item = {
                    'name': city.name,
                    'time': this.dateFormatTable(city.daily[this.tab].time),
                    'tempCurrent': city.daily[this.tab].tempCurrent + "°C",
                    'tempFeelsLike': city.daily[this.tab].tempFeelsLike + "°C",
                    'tempMax': city.daily[this.tab].tempMax + "°C",
                    'tempMin': city.daily[this.tab].tempMin + "°C",
                    'clouds': city.daily[this.tab].clouds + "%",
                    'humidity': city.daily[this.tab].humidity + "%",
                    'pressure': city.daily[this.tab].pressure + " hPa"
                }
                items.push(item);                
            })
            return items;
        },
        getDays: function() {
            if (this.$dailyData.length == 0)
                return [ {tab: "No data available"}];
            else {
                var list = []
                console.log(this.tab);
                this.$dailyData[0].daily.forEach(day => {
                    list.push( {
                        tab: this.dateFormatTab(day.time)
                    })
                })
                return list;
            }
        },
        dateFormatTable: function(date) {
            var dateString = date.toDateString();
            var timeString = date.toTimeString().split('(')[0];
            return dateString + ' ' + timeString;
        },
        dateFormatTab: function(date) {
            return date.toDateString();
        },
        getChartData: function() {
            var data = []
            this.$hourlyData.forEach(city => {
                this.selected.forEach(select => {
                    if (city.name == select.name) {
                        var hourlyData = {}
                        city.hourly.forEach(hour => {
                            hourlyData[this.getChartDate(hour.dt)] = hour[this.chartType];
                        })
                        data.push({
                            name: select.name,
                            data: hourlyData
                        })
                    }
                })
            })
            return data;
        },
        getChartDate: function(timeStamp) {
            var date = new Date(timeStamp * 1000);
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            if (month < 10)
                month = "0" + month;
            var day = date.getDate(); 
            if (day < 10)
                day = "0" + day;
            var hours = date.getHours();
            if (hours < 10)
                hours = "0" + hours;
            var minutes = date.getMinutes();
            if (minutes < 10)
                minutes = "0" + minutes;
            var seconds = date.getSeconds();
            if (seconds < 10)
                seconds = "0" + seconds;
            var timezone = date.toTimeString().split('GMT')[1].split(' ')[0];
            return `${year}-${month}-${day} ${hours}:${minutes}:${seconds} ${timezone}`;
            // goal je 2017-01-01 00:00:00 -0800
        },
        chartEnable: function(type, title) {
            if (this.chartType == type) {
                this.chartClass = "hidden";
                this.chartType = "";
                return;
            }
            this.chartTitle = title;
            this.chartType = type; 
            this.chartClass = "";
        },
        getItemsMini: function(data) {
            var items = [];
            if (this.tab > 1)
                return [];
            this.$hourlyData.forEach(city => {
                if (city.name == data.name) {
                    for (var i = 0 + 24*this.tab; i != 24 + 24*this.tab; i++) {
                        var item = {
                            'time': this.dateFormatTable(new Date(city.hourly[i].dt * 1000)),
                            'tempCurrent': city.hourly[i].temp + "°C",
                            'tempFeelsLike': city.hourly[i].feels_like + "°C",
                            'clouds': city.hourly[i].clouds + "%",
                            'humidity': city.hourly[i].humidity + "%",
                            'pressure': city.hourly[i].pressure + " hPa"
                        }
                        items.push(item);                
                    }
                }
            })
            return items;
        },
        deleteItem: function(item) {
            if (confirm('Are you sure you want to delete this item?')) {
                this.$dailyData.forEach(day => {
                    if (day.name == item.name)
                        this.$dailyData.splice(this.$dailyData.indexOf(day), 1);
                })
                this.$hourlyData.forEach(day => {
                    if (day.name == item.name)
                        this.$hourlyData.splice(this.$hourlyData.indexOf(day), 1);
                })
                this.selected.forEach(day => {
                    if (day.name == item.name)
                        this.selected.splice(this.selected.indexOf(day), 1);
                })
                this.expanded.forEach(day => {
                    if (day.name == item.name)
                        this.expanded.splice(this.expanded.indexOf(day), 1);
                })
                if (this.$hourlyData.length == 0 && this.$dailyData.length == 0) {
                    this.chartClass = "hidden";
                    this.chartType = "";
                }
            }
        },
        expandItem: function(item, row) {
            row.expand(!row.isExpanded);
        },
        addCitiesData: function() {
            var data = this.$cityList.slice();
            this.$dailyData.forEach(city => {
                data.splice(data.indexOf(city.name), 1);
            })
            return data;
        },
        addCities: function() {
            if (this.selectedCities.length == 0) {
                this.alert = true;
                return;
            }
            if (Object.keys(this.$cityData).length === 0) {
                this.error = true;
                return;
            }
            var results = [];
            var hourly = [];
            var requests = [];
            this.selectedCities.forEach(city => {
                var lon = this.$cityData[city].lon;
                var lat = this.$cityData[city].lat;
                var apiUrl = `http://api.openweathermap.org/data/2.5/onecall?lat=${lat}&lon=${lon}&units=${units}&appid=${apiKey}`;
                requests.push(
                    fetch(apiUrl)
                    .then(res => {return res.json()})
                    .then(res => {
                        var data = {"name": city};
                        data.daily = [];
                        data.daily.push( {
                            "tempCurrent": res.current.temp,
                            "tempFeelsLike": res.current.feels_like,
                            "clouds": res.current.clouds,
                            "pressure": res.current.pressure,
                            "humidity": res.current.humidity,
                            "time": new Date(res.current.dt * 1000),
                            "tempMax": res.daily[0].temp.max,
                            "tempMin": res.daily[0].temp.min
                        }) 
                        for(var i = 1; i < this.$dayNumber; i++) {
                            data.daily.push({
                                "tempCurrent": res.daily[i].temp.day,
                                "tempFeelsLike": res.daily[i].feels_like.day,
                                "clouds": res.daily[i].clouds,
                                "pressure": res.daily[i].pressure,
                                "humidity": res.daily[i].humidity,
                                "time": new Date(res.daily[i].dt * 1000),
                                "tempMax": res.daily[i].temp.max,
                                "tempMin": res.daily[i].temp.min
                            })
                        }
                        results.push(data);
                        hourly.push({
                            "name": city,
                            "hourly": res.hourly
                        })
                    })
                    .catch(err => {this.error = true; console.log(err); return; })
                );
            })
            Promise.all(requests).then(() => {
                if (!this.error) {
                    results.forEach(result => {
                        this.$dailyData.push(result);
                    })
                    hourly.forEach(result => {
                        this.$hourlyData.push(result);
                    })
                    this.dialog = false;
                    this.selectedCities = [];
                }
            })
        }
    }
    
}
</script>

<style scoped>
    .hidden {
        visibility: hidden;
    }
    #main {
        width: 600px;
        
        position: relative;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        
        margin: auto;
    }
</style>