<template>
    <div>
        <v-toolbar color=primary dark height=70>
            <v-btn icon @click="drawer=true" class="hidden-lg-and-up" large><v-icon large> mdi-weather-windy-variant</v-icon></v-btn>

            <v-toolbar-title >WEATHER FORECAST</v-toolbar-title>

            <v-spacer />
            <v-toolbar-items class="hidden-sm-and-down">
                <v-btn text to="/forecast">
                    <v-icon class="pr-4" large>mdi-weather-sunny</v-icon>
                    Current forecast 
                    <v-icon class="pl-4" large>mdi-weather-cloudy </v-icon>
                </v-btn>
            </v-toolbar-items>
            <v-spacer />
            <v-toolbar-items class="hidden-sm-and-down">
                <v-btn text to="/">
                    <v-icon class="pr-4" large>mdi-plus-circle-outline</v-icon>
                    New forecast
                    <v-icon class="pl-4" large>mdi-weather-lightning</v-icon>
                </v-btn>
            </v-toolbar-items>
        </v-toolbar>
        <v-navigation-drawer
            v-model="drawer"    
            absolute
            dark
            temporary
            width="70%"
            class="hidden sm-and-down">
            <v-list-item>
                <v-list-item-title>WEATHER FORECAST</v-list-item-title>
            </v-list-item>
            <v-divider></v-divider>
            <v-list-item class="pd-2 pu-2" >
                <v-btn block text height="50" to="/forecast">
                    Current forecast 
                </v-btn>
            </v-list-item>
            <v-list-item class="pd-2 pu-2" >
                <v-btn block text height="50" to="/">
                    New forecast
                </v-btn>      
            </v-list-item>

        </v-navigation-drawer>
    </div>
</template>

<script>
export default {
    data() {
        return {
            drawer: false
        }
    }
}
</script>