<template>
    <div>
        <MenuBar />
        <div id="main"> 
            <v-card>
                <v-container fluid>
                <v-row>
                    <v-col cols="12">
                        <v-autocomplete
                        v-model="selectedCities"
                        :items="this.$cityList"
                        label="Cities for forecast"
                        multiple
                        chips
                        clearable
                        hide-selected
                        deletable-chips
                        >
                        </v-autocomplete>
                    </v-col>
                    
                </v-row>
                </v-container>
            </v-card>
            <v-card>
                <v-row>
                    <v-col class="pa-12">
                    <v-slider
                        label="Number of days"
                        :tick-labels="days"
                        v-model="selectedDays"
                        max="7"
                        step="1"
                        ticks="always"
                        tick-size="5"
                    >
                    </v-slider>
                    </v-col>
                </v-row>
            </v-card>
            <v-card>
                <v-btn height="80px" block color=primary v-on:click=getData() >Get weather forecast</v-btn>
            </v-card>
            <v-alert type="warning"
                dismissible
                v-model="alert"
                transition="fade-transition">
                No cities selected!
            </v-alert>
            <v-alert type="error"
                dismissible
                v-model="error"
                transition="fade-transition">
                Something went wrong! We're sorry for the inconvenience.
            </v-alert>
        </div>
    </div>
</template>

<script>
    import MenuBar from "../components/MenuBar"
    const apiKey = "9b64e9615e54ccbcb68c3d8105747c2a";
    const units = "metric";
    export default {
        components: {
            MenuBar
        },
        data () {
        return {
            selectedCities: [],
            alert: false,
            error: false,
            days: [
                '1',
                '2',
                '3',
                '4',
                '5',
                '6',
                '7',
                '8'        
            ],
            selectedDays: 0
        }
        },
        methods: {
            getData: function() {
                if (this.selectedCities.length == 0) {
                    this.alert = true;
                    return;
                }
                if (Object.keys(this.$cityData).length === 0) {
                    this.error = true;
                    return;
                }
                var results = [];
                var hourly = [];
                var requests = [];
                this.selectedCities.forEach(city => {
                    var lon = this.$cityData[city].lon;
                    var lat = this.$cityData[city].lat;
                    var apiUrl = `http://api.openweathermap.org/data/2.5/onecall?lat=${lat}&lon=${lon}&units=${units}&appid=${apiKey}`;
                    requests.push(
                        fetch(apiUrl)
                        .then(res => {return res.json()})
                        .then(res => {
                            var data = {"name": city};
                            data.daily = [];
                            data.daily.push( {
                                "tempCurrent": res.current.temp,
                                "tempFeelsLike": res.current.feels_like,
                                "clouds": res.current.clouds,
                                "pressure": res.current.pressure,
                                "humidity": res.current.humidity,
                                "time": new Date(res.current.dt * 1000),
                                "tempMax": res.daily[0].temp.max,
                                "tempMin": res.daily[0].temp.min
                            }) 
                            for(var i = 1; i < this.selectedDays + 1; i++) {
                                data.daily.push({
                                    "tempCurrent": res.daily[i].temp.day,
                                    "tempFeelsLike": res.daily[i].feels_like.day,
                                    "clouds": res.daily[i].clouds,
                                    "pressure": res.daily[i].pressure,
                                    "humidity": res.daily[i].humidity,
                                    "time": new Date(res.daily[i].dt * 1000),
                                    "tempMax": res.daily[i].temp.max,
                                    "tempMin": res.daily[i].temp.min
                                })
                            }
                            results.push(data);
                            hourly.push({
                                "name": city,
                                "hourly": res.hourly
                            })
                        })
                        .catch(err => {this.error = true; console.log(err); return; })
                    );
                })
                Promise.all(requests).then(() => {
                    if (!this.error) {
                        this.$dailyData = results;
                        this.$hourlyData = hourly;
                        this.$dayNumber = this.selectedDays + 1;
                        this.$router.push({name: "CurrentForecast"});
                    }
                })
            }
        }
    }
</script>


<style scoped>
    #main {
        width: 600px;
        
        position: relative;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        
        margin: auto;
    }
</style>