<template>
  <v-app>
    <router-view />
  </v-app>
</template>

<script>
export default {
  name: 'App',
  created() {
      fetch("../../static/cities.json").then(res => res.json())
          .then(json => this.$cityList = json)
  },
  mounted() {
      fetch("../../static/apidata.json").then(res => res.json())
          .then(json => this.$cityData = json)
  }
}
</script>

<style>

</style>
